.DS_Store
/default-codebase/drive_data
/modified-cnn/drive_data
/modified-cnn-2/drive_data
/modified-cnn-3/drive_data
/modified-cnn-4/drive_data
/modified-cnn-5/drive_data
/advanced-pathing/drive_data
/advanced-pathing-2/drive_data
/advanced-pathing-3/drive_data
/powerups/drive_data
/powerups-2/drive_data
/powerups-3/drive_data
